{% extends 'base.html.twig' %}

{% set title = "Modification de nos pneumatiques : " ~ pneumatique.Title %}

{# page Titre #}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{# Content #}
{% block body %}
    <div class="container">

    {# Header / Titre de la page #}
    <header class="page-header">
        <h1 class="page-title">{{ title }}</h1>
    </header>

{# Formulaire #}
    {% include "pneumatiques/_form.html.twig" with {form: form} only %}

    <a href="{{ path('pneumatiques:index') }}">Retour à la page principal</a>

</div>
{% endblock %}
