{% extends 'base.html.twig' %}

{# Page Settings #}
{% set title = "Ajouter une prestation "%}
{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{# Page content #}
{% block body %}
    <div class="container mt-5 mb-5 pt-3 pb-3 bg-white" style="border:5px solid black; border-radius:10px; box-shadow:2px 2px 5px black;">

    {# header / Titre de la page #}
        <header class="page-header">
            <h1 class="page-title">{{ title }}</h1>
        </header>
    

{# le formulaire de creation #}
    {% include "entretien/_form.html.twig" with {form: form} %}

    <a href="{{ path('entretien:index') }}">Retour à la page principal</a>
    </div>
{% endblock %}
